 /* Nav Bar */

 a {
    color: #fc764f;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    position: relative;
    font-size: 15px;
    
  }

  
li {
  display: table-cell;
  position:relative;
  padding: 15px ;
  padding-top: 5px;
  
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.title-section {
  padding: 50px;
  text-align: center;
  background-color: #0c4269;
  color: white;

}

h1 {
  font-size: 70px;
}

/* Reset some default margins and paddings */
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

/* Panel container to hold the panels */
.panel-container {
  display: flex;
  flex-direction: column; /* Stacks the panels vertically */
  height: 100vh; /* Full viewport height */
  padding-top: 15px;
  padding-bottom: 15px}

.row {
  margin: 5px 0;
  padding: 10px;
  background-color: #f0f0f0; /* Adjust as needed */
  border: 1px solid #ccc;
}

/* Each panel */
.panel {
  flex: 1; /* Each panel takes up equal vertical space */
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  font-size: 24px;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Individual panel colors */
#panel1 {
  background-color: white;
  color:#fc764f;
  
}

#Q1 {
  background-color: orangered;
  text-transform: uppercase;
}


#panel5 {
  background-color: pink;}

#panel1 {
  background-color: #0c4269;
  color: white;
  }

#answer {
  text-align: center;
  font-size: large;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #052f41;
  cursor: pointer;
  width: 100%;
  
}

/* Center the div containing the button */
#Refresh {
  display: flex;               
  justify-content: center; 
  align-items: center;        
  height: 10vh;               
}

/* Style the button */
#Refresh button {
  background-color: orangered;
  color: white;               
  padding: 15px 32px;         
  font-size: 16px;            
  border: none;               
  border-radius: 8px;         
  cursor: pointer;            
}

/* Change color on hover */
#Refresh button:hover {
  background-color:#0c4269;
}

.login-section {
  text-align: center; 
  width: 100%;       
  padding: 20px;      
  /* border: 1px solid #ccc; 
  border-radius: 8px;  */
  background-color: #f9f9f9;}



